{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "useTabs": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", ".mts", ".mtx"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "endOfLine": "lf",
  "quoteProps": "as-needed"
}
